/* #F5F7F8
#F4CE14
#495E57
#45474B */

.body_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guidance {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "Grandiflora One";
  animation: guidanceFadeIn 8s;
}

.card_space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 150px;
}

@keyframes guidanceFadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flip {
  width: 206px;
  height: 294px;
  animation: sizeChange 4s;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
  animation: flipFlip 8s;
}

.card_front {
  background: #f4ce14;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* // 뒷면은 사전에 미리 뒤집기 */
.card_back {
  background: rgb(253, 239, 160);
  cursor: pointer;
}

.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 0 10px 5px #6e6e6e;
  border-radius: 25px;
  transition: 0.5s;
}

.card_back:hover {
  box-shadow: 0 0 15px 7px gold;
  transition: 0.5s;
}

.card_front img {
  width: 97%;
  height: 98%;
  border-radius: 20px;
}

@keyframes flipFlip {
  50% {
    transform: rotateY(0deg);
  }
  95% {
    transform: rotateY(3620deg);
  }

  100% {
    transform: rotateY(3600deg);
  }
}

.pattern {
  width: 206px;
  height: 294px;
  border-radius: 20px;
  --s: 40px; /* control the size */
  --_g: #fcd036 0 100%, #0000 102%;
  background: conic-gradient(#0000 75%, var(--_g)) calc(var(--s) / 4)
      calc(var(--s) / 4),
    radial-gradient(65% 65% at 50% -50%, var(--_g)),
    radial-gradient(65% 65% at -50% 50%, var(--_g)),
    radial-gradient(65% 65% at 50% 150%, var(--_g)),
    radial-gradient(65% 65% at 150% 50%, var(--_g)) #987f69;
  background-size: var(--s) var(--s);
  transition: 0.4s;
  animation: fadeIn2 2s;
}

.pattern:hover {
  box-shadow: 0 0 15px 7px gold;
  transition: 0.2s;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textForWaiting {
  margin-top: 100px;
  color: white;
  font-size: 20px;
  font-family: "Grandiflora One";
  font-weight: bold;
  animation: fadeOut 4.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
