.container {
	display: flex;
	margin-top: 210px;
}

.card {
	position: relative;
	top: 10px;
}

.fortune_quote_container {
	color: #f5f7f8;
	font-family: "Grandiflora One";
	margin-left: 60px;
	margin-top: 50px;
	width: 60%;
}

.fortune h1 {
	font-size: 3rem;
}

.quote h2 {
	font-size: 2rem;
}
